<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Listings</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold mb-8">Movie Listings @ GV Cinema</h1>
        <div class="mb-4 w-1/4">
            <input type="text" id="searchInput" class="border border-gray-300 rounded px-4 py-2 w-full" placeholder="Search movie by title or description">
        </div>
        <div class="grid grid-cols-4 gap-4" id="movieList">
            {% for movie in movies %}
            <div class="movie-card px-4 py-2 shadow-md rounded-lg text-center">
                <img src="assets/images/default-movie.jpg" alt="Movie poster" class="w-full mb-4">
                <a href="/movie/{{ movie.id }}"  class="text-xl font-bold mb-2">{{ movie.name }}</a>
                <!-- <p class="text-gray-600 mb-4"> {% if movie.description|length > 250 %}{{ movie.description|slice:":150" }}...{% else %}{{ movie.description }}{% endif %}</p> -->
                <div class="flex items-center justify-between">
                    <span class="text-gray-600">{{movie.duration}} min</span>
                    <span class="text-gray-600">{{ movie.userRating }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <a href="{% url 'movie_create' %}">Add New Movie</a>

    <script>
        document.getElementById('searchInput').addEventListener('input', function() {
            var input, filter, grid, cards, card, title, description, i;
            input   = document.getElementById('searchInput');
            filter  = input.value.toUpperCase();
            grid    = document.getElementById('movieList');
            cards   = grid.getElementsByClassName('movie-card');

            for (i = 0; i < cards.length; i++) {
                card = cards[i];
                title = card.getElementsByClassName('text-xl')[0];
                description = card.getElementsByClassName('text-gray-600')[0];
                if (title.innerText.toUpperCase().indexOf(filter) > -1 || description.innerText.toUpperCase().indexOf(filter) > -1) {
                    card.style.display = '';
                } else {
                    card.style.display = 'none';
                }
            }
        });
    </script>

</body>
</html>